<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Airplane Create and Update form</title>
</head>
<body>
<h2>Create or Update airplane</h2>

<form th:action="@{/airplanes}" th:object="${airplane}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label>Model</label>
    <input type="text" th:field="*{model}">
    <br/><br/>
    <label>Mass : </label>
    <input type="text" th:field="*{mass}">
    <br/><br/>
    <label>maxFuelCapacity : </label>
    <input type="text" th:field="*{maxFuelCapacity}">
    <br/><br/>
    <label>maxNumberOfPassenger : </label>
    <input type="text" th:field="*{maxNumberOfPassenger}">
    <br/><br/>
    <input type="submit" value="OK">
</form>

<br>
<hr>
<br>
<a href="/airports">go to Airplane list</a>
<br>
<a href="/">go to Main page</a>
</body>
</html>