<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Airplane form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="../webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{../webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script src="../webjars/jquery/3.5.1/jquery.min.js" th:href="@{../webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>

<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header">VALUE</div>
<!-- Body -->
<div class="container">
    <br/>
    <h1>Airplane form</h1>
    <br/>

    <!-- Thymeleaf main form -->
    <form th:action="@{/airplanes}" th:object="${airplane}" method="POST">

        <input type="hidden" th:field="*{id}">

        <!-- Airplane model -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Airplane model</span>
            <input type="text" class="form-control" th:field="*{model}" aria-describedby="basic-addon1">
        </div>
        <!-- Airplane mass -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Airplane mass</span>
            <input type="text" class="form-control" th:field="*{mass}" aria-describedby="basic-addon2">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Fuel capacity</span>
            <input type="text" class="form-control" th:field="*{maxFuelCapacity}" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon4">Maximum Passangers</span>
            <input type="text" class="form-control" th:field="*{maxNumberOfPassengers}" aria-describedby="basic-addon4">
        </div>
        <input type="submit" class="btn btn-success" value="OK">
    </form>
    <br>
    <hr>
    <br>
    <div class="btn-group">
        <a class="btn btn-outline-primary" href="/airplanes">Airplane list</a>
        <a class="btn btn-outline-primary" href="/">Main page</a>
    </div>
</div>
<!-- Bootstrap script -->
<script src="../webjars/bootstrap/4.6.0-1/js/bootstrap.js"
        th:href="@{../webjars/bootstrap/4.6.0-1/js/bootstrap.js}"></script>
</body>
</html>