<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Airplane user interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script src="webjars/jquery/3.5.1/jquery.min.js" th:href="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Service builder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main Page
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/airports">Airports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/airplanes">Airplanes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/flightInfo">FlightInfo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Body -->
<div class="container">
    <br/>
    <h1>Airplanes user interface</h1>
    <br/>
    <hr>
    <a href="/airplanes/new">Create new airplane</a>
    <br/>
    <br/>
    <table class="table caption-top">
        <caption>List of planes</caption>
        <tr>
            <th>Model</th>
            <th>Mass</th>
            <th>maxFuelCapacity</th>
            <th>maxNumberOfPassenger</th>
            <th>Action</th>
        </tr>
        <tr th:each="airplane:${airplanes}">

            <td th:text = "${airplane.model}">VALUE</td>
        <td th:text = "${airplane.mass}">VALUE</td>
        <td th:text = "${airplane.maxFuelCapacity}">VALUE</td>
        <td th:text = "${airplane.maxNumberOfPassenger}">VALUE</td>
        <td>
            <form th:action="@{/airplanes/{id}(id=${airplane.getId()})}" th:method="PUT">
                <input type="submit" value="Edit">
            </form>
            <form th:action="@{/airplanes/{id}(id=${airplane.getId()})}" th:method="DELETE">
                <input type="submit" value="Delete">
            </form>
        </td>
        </tr>
    </table>
    <br>
    <hr>
    <a href="/">Return to main page</a>
</div>
<!-- Bootstrap script -->
<script src="webjars/bootstrap/4.6.0-1/js/bootstrap.js" th:href="@{webjars/bootstrap/4.6.0-1/js/bootstrap.js}"></script>
</body>
</html>