<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../webjars/bootstrap/4.6.0-1/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{../webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"
          type="text/css"/>
    <script src="../webjars/jquery/3.5.1/jquery.min.js" th:href="@{../webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<footer th:fragment="footer">
</footer>
</body>
</html>