<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main page with documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script src="webjars/jquery/3.5.1/jquery.min.js" th:href="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>

<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header">VALUE</div>
<!-- Body -->
<div class="container">
    <br/>
    <h1>Hello and welcome to main page!</h1><br>
    <p>API documentation</p>
    <p>List of Entity to show:</p>
    <br>
    <p>1.Users</p>
    <p>2.Personal Information</p>
    <p>3.Airplane Maintenance</p>
    <p>4.FlightInfo - show all FlightInfo</p>
    <p>5.Airports - show all Airport list</p>
    <br>
    <a href="/api/airplanes">6.Airplane models - show all Airplane models</a>

</div>
<!-- Bootstrap script -->
<script src="webjars/bootstrap/4.6.0-1/js/bootstrap.js" th:href="@{webjars/bootstrap/4.6.0-1/js/bootstrap.js}"></script>
</body>
</html>