<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Operation user interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script src="webjars/jquery/3.5.1/jquery.min.js" th:href="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>

<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header">VALUE</div>
<!-- Body -->
<div class="container">
    <br/>
    <h1>Operation user interface</h1>
    <br/>
    <hr>
    <a class="btn btn-outline-primary" href="/operations/new" role="button">Create new operation group</a>
    <br/><br/>
    <div class="card" th:each="operation:${operations}">
        <div class="card-header" th:text="${operation.name}">VALUE</div>
        <div class="card-body">
            <div th:each="subOperation:${operation.getSubOperationList()}">
                <p th:text="${subOperation.getName()}"/>
            </div>
            <br>
            <div class="btn-group">
                <form th:action="@{/operations/{id}(id=${operation.getId()})}" th:method="PUT">
                    <input class="btn btn-outline-success" type="submit" value="Edit Group Name">
                </form>
                <form th:action="@{/operations/{id}(id=${operation.getId()})}" th:method="DELETE">
                    <input class="btn btn-outline-danger" type="submit" value="Delete Group">
                </form>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <a class="btn btn-outline-primary" href="/" role="button">Return to main page</a>
</div>
<!-- Bootstrap script -->
<script src="webjars/bootstrap/4.6.0-1/js/bootstrap.js" th:href="@{webjars/bootstrap/4.6.0-1/js/bootstrap.js}"></script>
</body>
</html>