<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Airport user interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script src="webjars/jquery/3.5.1/jquery.min.js" th:href="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>

<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header">VALUE</div>
<!-- Body -->
<div class="container">
    <br/>
    <h1>Airports user interface</h1>
    <br/>
    <hr>
    <a class="btn btn-outline-primary" href="/airports/new" role="button">Create new airport</a>
    <br/>
    <br/>
    <table class="table caption-top">
        <caption>List of airports</caption>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>ICAO</th>
            <th>Action</th>
        </tr>
        <tr th:each="airport:${airports}">

            <td th:text="${airport.name}">VALUE</td>
            <td th:text="${airport.country}">VALUE</td>
            <td th:text="${airport.icao}">VALUE</td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/airports/{id}(id=${airport.getId()})}" th:method="PUT">
                        <input class="btn btn-outline-success" type="submit" value="Edit">
                    </form>
                    <form th:action="@{/airports/{id}(id=${airport.getId()})}" th:method="DELETE">
                        <input class="btn btn-outline-danger" type="submit" value="Delete">
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <a class="btn btn-outline-primary" href="/" role="button">Return to main page</a>
</div>
<!-- Bootstrap script -->
<script src="webjars/bootstrap/4.6.0-1/js/bootstrap.js" th:href="@{webjars/bootstrap/4.6.0-1/js/bootstrap.js}"></script>
</body>
</html>