<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Airports user interface</title>
</head>
<body>
<h2>Airports user interface</h2>
<br/>
<hr>
<a href="/airports/new">Create new airport</a>
<br/>
<br/>
<table border="1" width="1024">
    <caption>List of airports</caption>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>ICAO</th>
        <th>Action</th>
    </tr>
    <tr th:each="airport:${airports}">

        <td th:text = "${airport.name}">VALUE</td>
        <td th:text = "${airport.country}">VALUE</td>
        <td th:text = "${airport.icao}">VALUE</td>
        <td>
            <form th:action="@{/airports/{id}(id=${airport.getId()})}" th:method="PUT">
                <input type="submit" value="Edit" width="90">
            </form>
            <form th:action="@{/airports/{id}(id=${airport.getId()})}" th:method="DELETE">
            <input type="submit" value="Delete" width="90">
            </form>
        </td>
    </tr>
</table>
<br>
<hr>
<a href="/">Return to main page</a>
</body>
</html>